body {
	font-family: 'Montserrat', sans-serif;
}

header {
		float: left;
		font-size: 18px;
		font-weight: bold;
		width: 15%;
		height: 60px;
		/* border: 1px solid red; 시야용 구분선 */
}

a, a:visited {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
nav {
		float: left;
		width: 84%;
		height: 60px;
		/* border: 1px solid red; 시야용 구분선*/
}

nav a:link {
		color: black;
		font-weight: bold;
		text-decoration: none;
		font-size: 0.8rem;
		display: block;

}

nav a:visited {
		display: block;
		color: black;
		text-decoration: none;
}

#top {
		/* border: 1px solid blue; 시야용 구분선*/
		width: 100%;
		height: 70px;
}

.menubar li {
		font-family: 'Open Sans', sans-serif;
		float: right;
		list-style: none;
		padding: 10px;
}


article {
		float: clear;
		width: 100%;
		text-align: left;


}

#profile {
		text-align: center;
		background-color: rgb(255, 250, 250);
		padding: 40px 0px;
}

#profilePicture {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

#resume {
			padding: 40px 200px;
			/* 풀스크린에서 좌우 600oxl */
}

.heading {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

footer {
		float: left;
		color: gray;
		text-align: left;
		height: 50px;
		width: 100%
}

#copyright {
		float: left;
		width: 49%;
}

#contactIcon {
		float: left;
		width: 50%;
		text-align: right;
}
