* {
  /* border: 1px solid red; */
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  width: 780px;
}

header{
  /* border: 1px solid blue; 시야용 구분선*/
  background-color: #1F2A37;
  overflow: hidden;
  display: block;
  margin: -20px 0px 0px 0px;
}

ul {
    border: 1px solid aqua;
}
.menubar li {
  font-family: 'Open Sans', sans-serif;
  float: right;
  list-style: none;
}

a, a:visited {
  display: block;
  color: #BECBDA;
  font-weight: bold;
  text-decoration: none;
  padding: 0.8rem;
}
a:hover {
    background-color: cadetblue;
    color: beige;
}


article {
  float: clear;
  width: 100%;
  text-align: left;
}

#article_intro {
  text-align: center;
  background-color: #BECBDA;
  padding: 40px 0px;
}

#profilePicture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


#content_heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

footer {
  float: left;
  background-color: #1F2A37;
  color: #BECBDA;
  text-align: left;
  overflow: hidden;
  width: 100%
}

#copyright {
  display: block;
  padding: 0.5rem;
  float: left;
  width: 49%;
    border: 1px solid aqua;
}

#contactIcon {
  float: left;
  padding: 0.5rem;
  width: 46%;
  text-align: right;
      border: 1px solid aqua;
}
